---
---

@import "{{ site.theme }}";

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif, sourcesanspro,'Helvetica Neue',Arial,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Dengxian,'Wenquanyi Micro Hei','WenQuanYi Zen Hei';
}

#install_link {
  display: block;
  position: absolute;
  top: 0;
  right: -130px;
  z-index: 10;
  padding: 10px 30px;
  color: #fff;
  background: #2dd700;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}